{% extends 'beagent/base.html' %}
{% block title %}
    <title>ba-admin-tiketi-sp_jalobi_spori-02</title>
{% endblock %}
{% block content %}
			<div class="content fixsize clearfix">
				<nav class="breadcrumbs">
					<ul>
						<li><a href="#">Администратор</a></li>
					</ul>
				</nav>
				<h1>Жалобы</h1>
				<nav class="menu-l3">
					<ul class="clearfix">
						<li class="active"><a href="#">Новые</a></li>
						<li><a href="#">В обработки</a> — <span class="red">25</span></li>
						<li><a href="#">Обработано</a></li>
					</ul>
				</nav>
				<section class="find-site">
					<form action="#">
						<fieldset class="clearfix">
							<select class="custom-select">
								<option>Жалобы на пользователя</option>
							</select>
							<div class="find-site-input">
								<input type="text" value="Имя, эл. почта, ID" id="fs1" onfocus="javascript:if(this.value=='Имя, эл. почта, ID')this.value=''" onblur="javascript:if(this.value=='')this.value='Имя, эл. почта, ID'" class="custom-input custom-input-small" />
							</div>
						</fieldset>
					</form>
				</section>
				<section class="table-box">
					<table class="table-support">
						<thead>
							<tr>
								<th>№</th>
								<th>Жалоба на</th>
								<th>От пользователя</th>
								<th>Дата</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>
									<span class="title toverflow"><a href="#">Константин Контсатнинов</a></span>
									<span class="desc">рекламодатель #12</span>
								</td>
								<td>
									<span class="title toverflow"><a href="#">Константин Контсатнинов</a></span>
									<span class="desc">агент #12</span>
								</td>
								<td>12 сентября 2012</td>
							</tr>
							<tr>
								<td>12</td>
								<td>
									<span class="title toverflow"><a href="#">Константин Контсатнинов</a></span>
									<span class="desc">агент #12</span>
								</td>
								<td>
									<span class="title toverflow"><a href="#">Константин Контсатнинов</a></span>
									<span class="desc">рекламодатель #12</span>
								</td>
								<td>12 сентября 2012</td>
							</tr>
							<tr>
								<td>999</td>
								<td>
									<span class="title toverflow"><a href="#">Константин Контсатнинов</a></span>
									<span class="desc">рекламодатель #12</span>
								</td>
								<td>
									<span class="title toverflow"><a href="#">Константин Контсатнинов</a></span>
									<span class="desc">агент #12</span>
								</td>
								<td>12 сентября 2012</td>
							</tr>
						</tbody>
					</table>
				</section>
				<section class="paginator-box">
					<a href="#" class="paginator-navi back"><span>Предыдущая</span></a>
					<a href="#" class="paginator-navi next"><span>Следующая</span></a>
					<ul class="paginator">
						<li>Страница:</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li class="active"><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">7</a></li>
					</ul>
					<span class="paginator-options">На странице: <a href="#" class="paginator-view"><span>10 элементов</span></a> / <strong>152</strong></span>
				</section>
			</div>
		</div>
{% endblock %}
