{% extends 'beagent/base.html' %}
{% block title %}
        <title>ba-admin-dengi-vivod_deneg-popup</title>
{% endblock %}
{% block content %}
			<div class="content fixsize clearfix">
				<nav class="breadcrumbs">
					<ul>
						<li><a href="#">Администратор</a></li>
					</ul>
				</nav>
				<h1>Обработка запроса на вывод денег</h1>
				<section class="request-info">
					<h2>Иван Иванов</h2>
					<table>
						<tbody>
							<tr>
								<td>Баланс до операции</td>
								<td><span class="big-font">10 000</span> руб.</td>
							</tr>
							<tr>
								<td>Сумма</td>
								<td><span class="big-font">1000</span> руб. (950 руб. -5%)</td>
							</tr>
							<tr>
								<td>Платежный шлюз</td>
								<td><span class="ym">Я</span>ндекс</td>
							</tr>
							<tr>
								<td>Реквизиты</td>
								<td>WMZ312313FSF230</td>
							</tr>
							<tr>
								<td>Запроса оставлен</td>
								<td>6 июня 2012, 18:36</td>
							</tr>
						</tbody>
					</table>
				</section>
				<section class="pay-money">
					<form action="#">
						<fieldset>
							<div class="pay-form clearfix">
								<label for="pm1">Идентификатор</label>
								<div class="control">
									<input type="text" value="" id="pm1" class="pay-input custom-input" />
								</div>
							</div>
							<div class="pay-buttons clearfix">
								<input type="submit" value="Выплатить" class="pay-submit orange-button" />
								<a href="#" class="pay-link">Отклонить</a>
								<a href="#" class="pay-link">Другие запросы</a>
							</div>
						</fieldset>
					</form>
					<div class="popup popup-pay-money">
						<a href="#" class="close-popup"></a>
						<form action="#">
							<fieldset>
								<div class="popup-pay-money-i">
									<select class="custom-select">
										<option>Причина отказа №1</option>
										<option>Причина отказа №2</option>
										<option>Причина отказа №3</option>
									</select>
								</div>
								<div class="popup-pay-money-i">
									<textarea cols="1" rows="1" class="custom-textarea" onfocus="javascript:if(this.value=='Своя причина отказа')this.value=''" onblur="javascript:if(this.value=='')this.value='Своя причина отказа'">Своя причина отказа</textarea>
								</div>
								<div class="popup-buttons clearfix">
									<input type="submit" value="Отклонить" class="popup-orange-btn" />
									<a href="#" class="popup-link-btn">Отмена</a>
								</div>
							</fieldset>
						</form>
					</div>
				</section>
			</div>
		</div>
{% endblock %}
