{% extends 'beagent/base.html' %}
{% block title %}
    ba-agent-moi_ploshadki-akivacia
{% endblock %}
{% block content %}
            <div class="content fixsize clearfix">
                <nav class="breadcrumbs">
                    <ul>
                        <li><a href="#">Кабинет</a></li>
                    </ul>
                </nav>
                <h1>Активация площадки</h1>
                <nav class="menu-l3">
                    <ul class="clearfix" id="tabs" >
                        <li class="active" id="our_tab"><a onclick="show_hide_block(['#our'],['#partners','#brands']); make_active('#tabs li','#our_tab')">Ссылка на нас</a></li>
                        <li id="partners_tab"><a onclick="show_hide_block(['#partners'],['#our','#brands']); make_active('#tabs li','#partners_tab')">Ссылка на партнеров</a></li>
                        <li id="brands_tab"><a onclick="show_hide_block(['#brands'],['#partners','#our']); make_active('#tabs li','#brands_tab')">Мировые бренды</a></li>
                    </ul>
                </nav>
				<section class="activation">
					<div class="activation-text display" id="our">
						<p>Для активации разместите заметку о нашем сервисе. В заметке должно быть описание нашего сервиса и любая из ссылок:</p>
						<ul>
							<li><a href="#">beagent.ru</a>;</li>
							<li><a href="#">blog.beagent.ru</a>.</li>
						</ul>
					</div>
                    <div class="activation-text non_display" id="partners">
                        <p>Для активации разместите заметку об одной из наших кампаний, которая входит в холдинг "Элемент" и разместите в заметке ссылку на компанию:</p>
                        <ul>
                            <li>компания «Оптимизм» <a href="#">www.optimism.ru</a>, анкор «продвижение сайтов»;</li>
                            <li>компания «GreenPR» <a href="#">greenpr.ru</a>, анкор «продвижение в социальных сетях»;</li>
                            <li>компания «GreenPR» <a href="#">сайтрепортер.рф</a>, анкор «анализ сайта».</li>
                        </ul>
                    </div>
                    <div class="activation-text non_display" id="brands">
                        <p>Для активации разместите любую заметку и разместите в ней два любых бренда из списка: <strong>Бренд 1</strong> и <strong>Бренд 1</strong> <a href="#" class="upd"></a></p>
                    </div>
                </section>
                <section class="activation">
                <form id="form">
                    <fieldset>
                        <div class="activation-i clearfix">
                            <label for="co1">Ссылка на заметку</label>
                            <div class="activation-c">
                                <input name="link" type="text" value="http://" onfocus="javascript:if(this.value=='http://')this.value=''" onblur="javascript:if(this.value=='')this.value='http://'" id="co1" class="custom-input" />
                            </div>
                        </div>
                        {% csrf_token %}
                        <input type="hidden" value="ajax" name="meta">
                        <input type="hidden" value="{{ platform }}" name="platform">
                        <div class="activation-button">
                            <input class="orange-button" type="button" value="Активировать" onclick="form_send('#form', '{% url 'beagent.views.agent.agent_activate_platform' %}', undefined, this)"/>
                        </div>
                    </fieldset>
                </form>
                </section>
			</div>
		</div>
{% endblock %}
