{% extends 'beagent/base.html' %}
{% block title %}
        <title>ba-admin-ploshadki-prosmotr</title>
{% endblock %}
{% block content %}
			<div class="content fixsize clearfix">
				<div class="left-col">
					<nav class="breadcrumbs">
						<ul>
							<li><a href="#">Администратор</a></li>
							<li>Площадки</li>
						</ul>
					</nav>
					<h1>ilyagordeev.ru <span class="status">на модерации</span> <span class="subheader">Блог</span></h1>
					<h2>Параметры площадки</h2>
					<section class="params">
						<table>
							<tbody>
								<tr>
									<td>Тип площадки</td>
									<td><span class="edit-box">Какой-то тип<a href="#" class="ico-edit"></a></span></td>
								</tr>
								<tr>
									<td>Страны или регионы</td>
									<td><span class="edit-box">Россия / Москва<a href="#" class="ico-edit"></a></span></td>
								</tr>
								<tr>
									<td>Стоимость публикации</td>
									<td>1500 руб.</td>
								</tr>
								<tr>
									<td>Стоимость комментария</td>
									<td>200 руб.</td>
								</tr>
								<tr>
									<td>Описание</td>
									<td><span class="edit-box">Интерактивный рассказ — это возможность прочитать произведение так, как вы этого хотите. Рассказ имеет большую вариативность действий в той или иной ситуации и вы сами решаете как будут разворачиваться события в сюжете. В зависимости от вашего выбора и будет зависеть как далеко вы сможете “пройти” книгу.<a href="#" class="ico-edit"></a></span></td>
								</tr>
								<tr>
									<td>Тематика</td>
									<td><span class="edit-box">авто<a href="#" class="ico-edit"></a></span></td>
								</tr>
								<tr>
									<td>Теги</td>
									<td><span class="edit-box">скачать с торрента фильмы, фильмы торрентом<a href="#" class="ico-edit"></a></span></td>
								</tr>
								<tr>
									<td>Дата создания</td>
									<td><span class="edit-box">15 марта 2012 г.<a href="#" class="ico-edit"></a></span></td>
								</tr>
							</tbody>
						</table>
					</section>
					<section class="opinions">
						<h2>Отзывы <span class="sup"><span class="green">+128</span> / <span class="red">−8</span></span></h2>
						<div class="opinions-i opinion-open">
							<div class="opinion-t">
								<p>Как поправишь, скажи мне пожалуйста ) Пытаюсь поймать эту ошибку. не получается. У меня пишет "Компания обязательно должна иметь название". Видимо проблема не в форме, а в языке. в смысле неправильно определился язык пользователя и поэтому не подгрузились нужные файлы перевода. прблема имеет системный характер. будем решать</p>
								<a href="#" class="opinion-toggle"></a>
							</div>
							<div class="opinion-user clearfix">
								<div class="opinion-avatar">
									<a href="#"><img src="content/avatar.jpg" alt="" /></a>
								</div>
								<div class="opinion-info">
									<span class="opinion-name"><a href="#">Иван Приходько</a> <span class="rating">5</span></span>
									<time class="opinion-date">7 декабря 2010, 16:50</time>
								</div>
							</div>
						</div>
						<div class="opinions-i opinion-hide">
							<div class="opinion-t">
								<p>Как поправишь, скажи мне пожалуйста ) Пытаюсь поймать эту ошибку не получаетсяяяяяяяяя. У меня пишет "Компания обязательно должна иметь название". Видимо проблема не в форме, а в языке. в смысле неправильно определился язык пользователя и поэтому не подгрузились нужные файлы перевода. прблема имеет системный характер. будем решать</p>
								<a href="#" class="opinion-toggle"></a>
							</div>
							<div class="opinion-user clearfix">
								<div class="opinion-avatar">
									<a href="#"><img src="content/avatar.jpg" alt="" /></a>
								</div>
								<div class="opinion-info">
									<span class="opinion-name"><a href="#">Иван Приходько Длинная фамилия</a> <span class="rating">5</span></span>
									<time class="opinion-date">7 декабря 2010, 16:50</time>
								</div>
							</div>
						</div>
						<div class="opinions-i opinion-notoggle">
							<div class="opinion-t">
								<p>Всё супер (раскрывать нечего)</p>
								<a href="#" class="opinion-toggle"></a>
							</div>
							<div class="opinion-user clearfix">
								<div class="opinion-avatar">
									<a href="#"><img src="content/avatar.jpg" alt="" /></a>
								</div>
								<div class="opinion-info">
									<span class="opinion-name"><a href="#">Иван Приходько</a> <span class="rating">5</span></span>
									<time class="opinion-date">7 декабря 2010, 16:50</time>
								</div>
							</div>
						</div>
					</section>
					<section class="buttons-panel buttons-panel-nobg clearfix">
						<input type="submit" value="Добавить" class="button gray-button" />
						<input type="submit" value="Отклонить" class="button red-button" />
					</section>
				</div>
				<aside class="right-col">
					<div class="data">
						<h3>Показатели</h3>
						<ul>
							<li>ТИЦ — 0</li>
							<li>PR — 0</li>
							<li>Посещаемость — 200 чел./сутки</li>
							<li>Кол-во страниц в Яндекс — 4580</li>
							<li>Кол-во страниц в Google — 4580</li>
						</ul>
						<ul>
							<li>Фоловеров в твиттере — 586</li>
							<li>Публикаций в твиттере — 6547</li>
						</ul>
						<p>Добавлена 9 мая 2011 года</p>
					</div>
				</aside>
			</div>
		</div>
{% endblock %}
