{% extends 'beagent/base.html' %}
{% block title %}
        <title>ba-admin-tiketi-sp</title>
{% endblock %}
{% block content %}
			<div class="content fixsize clearfix">
				<div class="left-col">
					<nav class="breadcrumbs">
						<ul>
							<li><a href="#">Администратор</a></li>
						</ul>
					</nav>
					<h1>Тикет №1</h1>
					<section class="messages">
						<div class="messages-cols clearfix">
							<div class="text">
								<p>В реальной жизни PostgreSQL используют чаще для технологически-сложных проектов, просто у его пользователей не возникает такого количества проблем</p>
							</div>
							<div class="comments">
								<div class="comments-i clearfix">
									<div class="comments-avatar">
										<a href="#"><img src="content/avatar.jpg" alt="" /></a>
									</div>
									<div class="comments-content">
										<span class="comments-title">Я, <time>7 декабря 2010, 16:50</time></span>
										<span class="comments-text">Могу взяться за работу</span>
									</div>
								</div>
								<div class="comments-i clearfix">
									<div class="comments-avatar">
										<a href="#"><img src="content/avatar2.jpg" alt="" /></a>
									</div>
									<div class="comments-content">
										<span class="comments-title"><a href="#">Илья Гордеев</a>, <time>7 декабря 2010, 16:50</time></span>
										<span class="comments-text">В реальной жизни PostgreSQL используют чаще для технологически-сложных проектов, просто у его пользователей не возникает такого количества проблем, о которых можно писать статьи</span>
									</div>
								</div>
								<div class="comments-i clearfix">
									<div class="comments-avatar">
										<a href="#"><img src="content/avatar2.jpg" alt="" /></a>
									</div>
									<div class="comments-content">
										<span class="comments-title"><a href="#">Илья Гордеев</a>, <time>7 декабря 2010, 16:50</time></span>
										<span class="comments-text">Не возникает такого количества проблем, о которых можно писать статьи</span>
									</div>
								</div>
								<div class="comments-i clearfix">
									<div class="comments-avatar">
										<a href="#"><img src="content/avatar.jpg" alt="" /></a>
									</div>
									<div class="comments-content">
										<span class="comments-title">Я, <time>7 декабря 2010, 16:50</time></span>
										<span class="comments-text">Замечательно, приступайте!</span>
									</div>
								</div>
							</div>
							<div class="message-post">
								<form action="#">
									<fieldset>
										<textarea cols="1" rows="1" class="custom-textarea"></textarea>
										<input type="submit" value="Отправить" class="orange-button" />
									</fieldset>
								</form>
							</div>
						</div>
					</section>
				</div>
				<aside class="right-col">
					<div class="peoples">
						<div class="peoples-i clearfix">
							<div class="peoples-avatar">
								<a href="#"><img src="content/avatar2.jpg" alt="" /></a>
							</div>
							<div class="peoples-info">
								<span class="title"><a href="#">Иван Приходько</a></span>
								<span class="rating"><span class="ico-rate">5</span></span>
								<span class="type"><a href="#">mail@ilyagordeev.ru</a></span>
							</div>
						</div>
					</div>
					<div class="ticket-info">
						<ul>
							<li>Раздел: Финансовый отдел</li>
							<li>Дата обращения: 19 июня 2012 18:00</li>
						</ul>
					</div>
					<div class="ticket-status">
						<h3>Статус тикета</h3>
						<ul>
							<li class="active"><a href="#"><span>Новый</span></a></li>
							<li><a href="#"><span>В обработке</span></a></li>
							<li><a href="#"><span>Обработан</span></a></li>
						</ul>
					</div>
					<div class="work-notes">
						<h3>Служебные пометки</h3>
						<form action="#">
							<fieldset>
								<textarea cols="1" rows="1" class="custom-textarea"></textarea>
								<input type="submit" value="Сохранить" class="orange-button" />
							</fieldset>
						</form>
					</div>
				</aside>
			</div>
		</div>
{% endblock %}
