{% extends 'beagent/base.html' %}
{% block title %}
        <title>ba-admin-tiketi</title>
{% endblock %}
{% block content %}
			<div class="content fixsize clearfix">
				<nav class="breadcrumbs">
					<ul>
						<li><a href="#">Администратор</a></li>
					</ul>
				</nav>
				<h1>Новые тикеты</h1>
				<section class="tickets">
					<h2>Обращения в службу поддержки — <a href="#">23</a></h2>
					<ul>
						<li>Технический отдел — <span class="font-big"><a href="#">23</a></span></li>
						<li>Финансовый отдел — <span class="font-big"><a href="#">14 789</a></span></li>
						<li>Показатели — <span class="font-big"><a href="#">23</a></span></li>
						<li>Юр. лица — <span class="font-big"><a href="#">5</a></span></li>
						<li>Другие — <span class="font-big"><a href="#">23</a></span></li>
					</ul>
					<h2>Жалобы — <a href="#">124</a></h2>
					<h2>Споры в задачах — <a href="#">23</a></h2>
				</section>
			</div>
		</div>
{% endblock %}
