{% extends 'beagent/base.html' %}
{% block title %}
        <title>ba-admin-tiketi-spor</title>
{% endblock %}
{% block content %}
			<div class="content fixsize clearfix">
				<div class="left-col">
					<nav class="breadcrumbs">
						<ul>
							<li><a href="#">Администратор</a></li>
						</ul>
					</nav>
					<h1>Спор в задаче №12</h1>
					<section class="complaint-box">
						<div class="complaint-text">
							<p>Эта площадка полное говно, я денег дал, а в ТОП не попал, чёто за нах ваще!!!!!!<br /> И я попал на АТС, и это правда!</p>
						</div>
						<ul class="complaint-info">
							<li>Задача открыта — 12 мая 2012, 18:00</li>
							<li>Статус — на проверке</li>
							<li>Площадка — <a href="#">twitter.com/example</a></li>
							<li>Кампания — <a href="#">кампания #1</a></li>
						</ul>
						<ul class="complaint-info">
							<li>Рекламодатель — <a href="#">Иван Приходько</a><span class="ico-rate">5</span></li>
							<li>Агент — <a href="#">Язь</a><span class="ico-rate">5</span></li>
						</ul>
					</section>
					<section class="requirements">
						<h2>Требования к задачи #12</h2>
						<div class="requirements-i">
							<p>Интерактивный рассказ — это возможность прочитать произведение так, как вы этого хотите. Рассказ имеет большую вариативность действий в той или иной ситуации и вы сами решаете как будут разворачиваться события в сюжете. В зависимости от вашего выбора и будет зависеть как далеко вы сможете “пройти” книгу. Интерактивный рассказ — это возможность прочитать произведение так, как вы этого хотите.</p>
							<p>Рассказ имеет большую вариативность действий в той или иной ситуации и вы сами решаете как будут разворачиваться события в сюжете. В зависимости от вашего выбора и будет зависеть как далеко вы сможете “пройти” книгу.</p>
							<ul>
								<li>1. Интерактивный рассказ — это возможность</li>
								<li>2. прочитать произведение так, как вы этого хотите.</li>
								<li>3. Рассказ имеет большую вариативность действий в той</li>
								<li>4. Или иной ситуации и вы сами решаете как будут разворачиваться события в сюжете.</li>
							</ul>
						</div>
					</section>
					<section class="messages">
						<h2>Общение с участниками</h2>
						<ul class="messages-tabs clearfix">
							<li class="active"><a href="#"><span>Рекламодатель</span></a></li>
							<li><a href="#"><span>Агент</span></a></li>
						</ul>
						<div class="messages-cols clearfix">
							<div class="comments">
								<div class="comments-i clearfix">
									<div class="comments-avatar">
										<a href="#"><img src="content/avatar.jpg" alt="" /></a>
									</div>
									<div class="comments-content">
										<span class="comments-title">Я, <time>7 декабря 2010, 16:50</time></span>
										<span class="comments-text">Могу взяться за работу</span>
									</div>
								</div>
								<div class="comments-i clearfix">
									<div class="comments-avatar">
										<a href="#"><img src="content/avatar2.jpg" alt="" /></a>
									</div>
									<div class="comments-content">
										<span class="comments-title"><a href="#">Илья Гордеев</a>, <time>7 декабря 2010, 16:50</time></span>
										<span class="comments-text">В реальной жизни PostgreSQL используют чаще для технологически-сложных проектов, просто у его пользователей не возникает такого количества проблем, о которых можно писать статьи</span>
									</div>
								</div>
								<div class="comments-i clearfix">
									<div class="comments-avatar">
										<a href="#"><img src="content/avatar2.jpg" alt="" /></a>
									</div>
									<div class="comments-content">
										<span class="comments-title"><a href="#">Илья Гордеев</a>, <time>7 декабря 2010, 16:50</time></span>
										<span class="comments-text">Не возникает такого количества проблем, о которых можно писать статьи</span>
									</div>
								</div>
								<div class="comments-i clearfix">
									<div class="comments-avatar">
										<a href="#"><img src="content/avatar.jpg" alt="" /></a>
									</div>
									<div class="comments-content">
										<span class="comments-title">Я, <time>7 декабря 2010, 16:50</time></span>
										<span class="comments-text">Замечательно, приступайте!</span>
									</div>
								</div>
							</div>
							<div class="message-post">
								<form action="#">
									<fieldset>
										<textarea cols="1" rows="1" class="custom-textarea"></textarea>
										<input type="submit" value="Отправить" class="orange-button" />
									</fieldset>
								</form>
							</div>
						</div>
					</section>
					<section class="complaint-buttons">
						<a href="#" class="orange-button">Разрешить спор</a>
					</section>
				</div>
				<aside class="right-col">
					<div class="peoples">
						<div class="peoples-i clearfix">
							<div class="peoples-avatar">
								<a href="#"><img src="content/avatar2.jpg" alt="" /></a>
							</div>
							<div class="peoples-info">
								<span class="title"><a href="#">Иван Приходько</a></span>
								<span class="rating"><span class="ico-rate">5</span></span>
								<span class="type">Автор жалобы</span>
							</div>
						</div>
					</div>
					<div class="complaint-date">Дата обращения: 19 июня 2012, 18:00</div>
					<div class="ticket-status">
						<h3>Статус тикета</h3>
						<ul>
							<li class="active"><a href="#"><span>Новый</span></a></li>
							<li><a href="#"><span>В обработке</span></a></li>
							<li><a href="#"><span>Обработан</span></a></li>
						</ul>
					</div>
					<div class="work-notes">
						<h3>Служебные пометки</h3>
						<form action="#">
							<fieldset>
								<textarea cols="1" rows="1" class="custom-textarea"></textarea>
								<input type="submit" value="Сохранить" class="orange-button" />
							</fieldset>
						</form>
					</div>
					<div class="events">
						<h3>События задачи</h3>
						<ul>
							<li>Начало работы <span>7 декабря 2010, 16:50</span></li>
							<li>Поступило на проверку <span>7 декабря 2010, 16:50</span></li>
							<li>Отправлено на доработку <span>25 декабря 2010, 16:50</span></li>
							<li>Поступило на проверку <span>7 декабря 2010, 16:50</span></li>
							<li>Поступило на проверку <span>7 декабря 2010, 16:50</span></li>
							<li>Отправлено на доработку <span>25 декабря 2010, 16:50</span></li>
							<li>Поступило на проверку <span>7 декабря 2010, 16:50</span></li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
{% endblock %}
