{% extends 'beagent/base.html' %}
{% block title %}
    ba-agent-soobshenia-prosmotr_tiketa
{% endblock %}
{% block content %}
			<div class="content fixsize clearfix">
				<nav class="breadcrumbs">
					<ul>
						<li><a href="{% url 'beagent.views.common.profile' %}">Кабинет</a></li>
					</ul>
				</nav>
				<h1>Сообщения</h1>
				<nav class="menu-l3">
					<ul class="clearfix">
						<li class="active"><a href="{% url 'beagent.views.common.profile_messages' %}">События</a></li>
						<li><a href="{% url 'beagent.views.common.profile_ask_question' %}">Задать вопрос</a></li>
					</ul>
				</nav>
				<section class="messages">
					<h2>{{ msg.title }}</h2>
					<div class="messages-cols clearfix">
						<div class="left-col">
							<div class="text">
								<p>{{ msg.msg }}</p>
							</div>
                            {% if review %}
                                <div class="comments">
                                {% for item in review %}
                                    <div class="comments-i clearfix">
                                        <div class="comments-avatar">
                                            {% load thumbnail %}
                                            <a href="#"><img src="{% thumbnail item.sender.photo 24x26 crop %}" alt="" /></a>
                                        </div>
                                        <div class="comments-content">
                                            <span class="comments-title">{% if request.user.pk == item.sender.pk %}Я{% else %}{{ item.sender.name }} {{ item.sender.surname }}{% endif %}, <time>{{ item.date_added|date:"d F H:i"|lower }}</time></span>
                                            <span class="comments-text">{{ item.msg }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            {% endif %}
							<div class="message-post">
								<form id="msg_review">
                                    {% csrf_token %}
                                    <input type="hidden" value="ajax" name="meta">
                                    <input type="hidden" value="{{ msg.id }}" name="message">
                                    <input type="hidden" value="{{ request.user.pk }}" name="sender">
									<fieldset>
										<textarea cols="1" rows="1" class="custom-textarea" name="msg"></textarea>
										<input value="Отправить" class="orange-button small" onclick="form_send('#msg_review', '{% url 'beagent.views.common.add_msg_review' %}', undefined, this)"/>
									</fieldset>
								</form>
							</div>
						</div>
						<aside class="right-col">
							<div class="data">
								<ul>
									<li>Раздел: {{ msg.get_section_display }}</li>
									<li>Дата обращения: {{ msg.date_added|date:"d F H:i"|lower }}</li>
								</ul>
								<ul>
									<li>Статус: {{ msg.get_status_display }}</li>
								</ul>
							</div>
						</aside>
					</div>
				</section>
			</div>
		</div>
{% endblock %}