{% extends 'beagent/base.html' %}
{% block title %}
    <title>ba-agent-moi_ploshadki-oplachennie</title>
{% endblock %}
{% block content %}
			<div class="content fixsize clearfix">
				<nav class="breadcrumbs">
					<ul>
						<li><a href="#">Кабинет</a></li>
						<li><a href="#">Мои площадки</a></li>
						<li><a href="#">Оплаченные</a></li>
						<li>twitter.com</li>
					</ul>
				</nav>
				<h1>Оплаченные работы</h1>
				<section class="table-box">
					<table class="table-works">
						<thead>
							<tr>
								<th>Задача</th>
								<th>Ссылка на работу</th>
								<th>Дата начала</th>
								<th>Дата оплаты</th>
								<th>Заказчик</th>
								<th>Цена, руб</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="#" class="title">Валенки со звездами</a>
									<span class="desc">Публикация в twitter</span>
								</td>
								<td><a href="#" class="toverflow">twitter.com/example2bigtextok</a></td>
								<td>14 сен. 2012, 18:00</td>
								<td>14 сен. 2012, 18:00</td>
								<td>
									<a href="#" class="toverflow">Константин Константинович</a>
									<span class="rating-ico">5</span>
								</td>
								<td>15 400</td>
							</tr>
							<tr>
								<td>
									<a href="#" class="title">Валенки</a>
									<span class="desc">Публикация в twitter</span></span>
								</td>
								<td><a href="#" class="toverflow">twitter.com/example2bigtextok</a></td>
								<td>14 сен. 2012, 18:00</td>
								<td>14 сен. 2012, 18:00</td>
								<td>
									<a href="#" class="toverflow">Тоша</a>
									<span class="rating-ico">5</span>
								</td>
								<td>500</td>
							</tr>
							<tr>
								<td>
									<a href="#" class="title">Опоп+</a>
									<span class="desc">Публикация в twitter</span>
								</td>
								<td><a href="#" class="toverflow">twitter.com/example2bigtextok</a></td>
								<td>14 сен. 2012, 18:00</td>
								<td>14 сен. 2012, 18:00</td>
								<td>
									<a href="#" class="toverflow">Иван Иванов</a>
									<span class="rating-ico">5</span>
								</td>
								<td>25 000</td>
							</tr>
							<tr>
								<td>
									<a href="#" class="title">2012</a>
									<span class="desc">Публикация в twitter</span>
								</td>
								<td><a href="#" class="toverflow">twitter.com/example2bigtextok</a></td>
								<td>14 сен. 2012, 18:00</td>
								<td>14 сен. 2012, 18:00</td>
								<td>
									<a href="#" class="toverflow">Константин</a>
									<span class="rating-ico">5</span>
								</td>
								<td>45</td>
							</tr>
							<tr>
								<td>
									<a href="#" class="title">Оппа</a>
									<span class="desc">Публикация в twitter</span>
								</td>
								<td><a href="#" class="toverflow">twitter.com/example2bigtextok</a></td>
								<td>14 сен. 2012, 18:00</td>
								<td>14 сен. 2012, 18:00</td>
								<td>
									<a href="#" class="toverflow">Илья Гордеев</a>
									<span class="rating-ico">5</span>
								</td>
								<td>145 547</td>
							</tr>
						</tbody>
					</table>
				</section>
				<section class="paginator-box">
					<a href="#" class="paginator-navi back"><span>Предыдущая</span></a>
					<a href="#" class="paginator-navi next"><span>Следующая</span></a>
					<ul class="paginator">
						<li>Страница:</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li class="active"><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">7</a></li>
					</ul>
					<span class="paginator-options">На странице: <a href="#" class="paginator-view"><span>10 элементов</span></a> / <strong>152</strong></span>
				</section>
			</div>
		</div>
{% endblock %}
