{% extends 'beagent/base.html' %}
{% block title %}
        <title>ba-admin-dengi-zapros_na_vivod_deneg</title>
{% endblock %}
{% block content %}
			<div class="content fixsize clearfix">
				<nav class="breadcrumbs">
					<ul>
						<li><a href="#">Администратор</a></li>
					</ul>
				</nav>
				<h1>Запросы на вывод денег</h1>
				<nav class="menu-l3">
					<ul class="clearfix">
						<li class="active"><a href="#">На оплату</a></li>
						<li><a href="#">Выплаченные</a></li>
						<li><a href="#">Отклоненные</a></li>
					</ul>
				</nav>
				<section class="money-output-stat">
					<h2>На вывод всего — <span>120 000</span> руб.</h2>
					<ul>
						<li><span class="wm">WebMoney</span> — <span class="big-font">30 000</span> руб.</li>
						<li><span class="ym">Я</span>ндекс.Деньги — <span class="big-font">30 000</span> руб.</li>
						<li><span class="robocassa"><span>Робо</span>касса</span> — <span class="big-font">30 000</span> руб.</li>
						<li>На счет — <span class="big-font">30 000</span> руб.</li>
					</ul>
				</section>
				<section class="table-box">
					<table class="table-money-output">
						<thead>
							<tr>
								<th>Дата</th>
								<th>Пользователь</th>
								<th>Сумма, руб</th>
								<th>Статус</th>
								<th>Платежный шлюз</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>14 сен. 2012, 18:00</td>
								<td>
									<a href="#" class="title toverflow">Константин Контсатнинов</a>
									<span class="desc"><a href="#">mailopop@ilya.ru</a></span>
								</td>
								<td>150 000</td>
								<td>на оплату</td>
								<td><span class="robocassa"><span>Робо</span>касса</span></td>
							</tr>
							<tr>
								<td>14 сен. 2012, 18:00</td>
								<td>
									<a href="#" class="title toverflow">Константин Контсатнинов</a>
									<span class="desc"><a href="#">mailopop@ilya.ru</a></span>
								</td>
								<td>500</td>
								<td>Выплаченные</td>
								<td><span class="wm">WebMoney</span></td>
							</tr>
							<tr>
								<td>14 сен. 2012, 18:00</td>
								<td>
									<a href="#" class="title toverflow">Константин Контсатнинов</a>
									<span class="desc"><a href="#">mailopop@ilya.ru</a></span>
								</td>
								<td>1 500</td>
								<td>Выплаченные</td>
								<td><span class="ym">Я</span>ндекс.Деньги</td>
							</tr>
						</tbody>
					</table>
				</section>
				<section class="paginator-box">
					<a href="#" class="paginator-navi back"><span>Предыдущая</span></a>
					<a href="#" class="paginator-navi next"><span>Следующая</span></a>
					<ul class="paginator">
						<li>Страница:</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li class="active"><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">7</a></li>
					</ul>
					<span class="paginator-options">На странице: <a href="#" class="paginator-view"><span>10 элементов</span></a> / <strong>152</strong></span>
				</section>
			</div>
		</div>
{% endblock %}
