{% extends 'beagent/base.html' %}
{% block title %}
        <title>ba-admin-tiketi-jaloba</title>
{% endblock %}
{% block content %}
			<div class="content fixsize clearfix">
				<div class="left-col">
					<nav class="breadcrumbs">
						<ul>
							<li><a href="#">Администратор</a></li>
						</ul>
					</nav>
					<h1>Жалоба на twitter.com/vodka</h1>
					<section class="complaint-box">
						<div class="complaint-text">
							<p>Эта площадка полное говно, я денег дал, а в ТОП не попал, чёто за нах ваще!!!!!!<br /> И я попал на АТС, и это правда!</p>
						</div>
						<ul class="complaint-info">
							<li>Владелец, площадки — <a href="#">Иван Приходько</a><span class="ico-rate">5</span></li>
							<li>Объект жалобы, площадка — <a href="#">twitter.com/vodka</a></li>
							<li>Всего жалоб на объект — <a href="#">5</a></li>
						</ul>
					</section>
					<h2>Параметры площадки</h2>
					<section class="params">
						<table>
							<tbody>
								<tr>
									<td>Страны или регионы</td>
									<td>Россия / Москва</td>
								</tr>
								<tr>
									<td>Стоимость публикации</td>
									<td>1500 руб.</td>
								</tr>
								<tr>
									<td>Стоимость комментария</td>
									<td>200 руб.</td>
								</tr>
								<tr>
									<td>Описание</td>
									<td>Интерактивный рассказ — это возможность прочитать произведение так, как вы этого хотите. Рассказ имеет большую вариативность действий в той или иной ситуации и вы сами решаете как будут разворачиваться события в сюжете. В зависимости от вашего выбора и будет зависеть как далеко вы сможете “пройти” книгу.</td>
								</tr>
								<tr>
									<td>Тематика</td>
									<td>авто</td>
								</tr>
								<tr>
									<td>Теги</td>
									<td>скачать с торрента фильмы, фильмы торрентом</td>
								</tr>
								<tr>
									<td>Дата создания</td>
									<td>15 марта 2012 г.</td>
								</tr>
							</tbody>
						</table>
					</section>
					<section class="complaint-buttons">
						<a href="#" class="orange-button">Принять жалобу</a>
						<a href="#" class="text-link">Отклонить</a>
					</section>
				</div>
				<aside class="right-col">
					<div class="peoples">
						<div class="peoples-i clearfix">
							<div class="peoples-avatar">
								<a href="#"><img src="content/avatar2.jpg" alt="" /></a>
							</div>
							<div class="peoples-info">
								<span class="title"><a href="#">Иван Приходько</a></span>
								<span class="rating"><span class="ico-rate">5</span></span>
								<span class="type">Автор жалобы</span>
							</div>
						</div>
					</div>
					<div class="complaint-date">Дата обращения: 19 июня 2012, 18:00</div>
					<div class="ticket-status">
						<h3>Статус тикета</h3>
						<ul>
							<li class="active"><a href="#"><span>Новый</span></a></li>
							<li><a href="#"><span>В обработке</span></a></li>
							<li><a href="#"><span>Обработан</span></a></li>
						</ul>
					</div>
					<div class="work-notes">
						<h3>Служебные пометки</h3>
						<form action="#">
							<fieldset>
								<textarea cols="1" rows="1" class="custom-textarea"></textarea>
								<input type="submit" value="Сохранить" class="orange-button" />
							</fieldset>
						</form>
					</div>
				</aside>
			</div>
		</div>
{% endblock %}
