{% extends 'beagent/base.html' %}
{% block title %}
    <title>ba-reklamodatel-ploshadki</title>
{% endblock %}
{% block content %}
			<div class="content fixsize clearfix">
				<nav class="breadcrumbs">
					<ul>
						<li><a href="#">Кабинет</a></li>
					</ul>
				</nav>
				<h1>Площадки</h1>
				<nav class="menu-l3">
					<ul class="clearfix">
						<li class="active"><a href="#">Все</a></li>
						<li><a href="#">Только подходящие</a></li>
					</ul>
				</nav>
				<section class="filter-company">
					<div class="filter-company-i">
						<form action="#">
							<fieldset>
								<div class="filter-controls clearfix">
									<div class="filter-controls-i">
										<div class="filter-stroke">
											<span class="filter-t">Оплата за действие</span>
											<div class="filter-slider clearfix">
												<div class="controls clearfix">
													<label>от</label>
													<input type="text" value="" class="min" />
													<label>до</label>
													<input type="text" value="" class="max" />
													<span>руб.</span>
												</div>
												<div class="slider">
													<span class="line"></span>
													<span class="line-active" style="width:93px;"></span>
													<span class="button button-left" style="left:0;"></span>
													<span class="button button-right" style="left:98px;"></span>
												</div>
											</div>
										</div>
										<div class="filter-stroke filter-stroke-select clearfix">
											<label for="fs3" class="filter-t">Компании за</label>
											<div class="filter-s">
												<select id="fs3" class="custom-select">
													<option>Все время</option>
												</select>
											</div>
										</div>
										<div class="filter-stroke">
											<label for="fs2" class="filter-t">Название или ключевое слово</label>
											<input type="text" value="" id="fs2" class="custom-input" />
										</div>
										<div class="filter-stroke filter-stroke-text">
											<span class="filter-t">Тематика: <span>Любая</span></span>
										</div>
										<div class="filter-stroke filter-stroke-text">
											<span class="filter-t">Тип площадки: <span>Любой</span></span>
										</div>
										<div class="filter-stroke filter-stroke-text">
											<span class="filter-t">Тип работы: <span>Любой</span></span>
										</div>
									</div>
									<div class="filter-controls-i">
										<div class="filter-stroke">
											<label for="fs1" class="filter-t">Страны и регионы</label>
											<input type="text" value="" id="fs1" class="custom-input" />
											<span class="filter-h">Например, Московская область или Россия</span>
										</div>
										<div class="filter-stroke">
											<span class="filter-t">тИЦ</span>
											<div class="filter-slider clearfix">
												<div class="controls clearfix">
													<label>от</label>
													<input type="text" value="" class="min" />
													<label>до</label>
													<input type="text" value="" class="max" />
												</div>
												<div class="slider">
													<span class="line"></span>
													<span class="line-active" style="width:93px;"></span>
													<span class="button button-left" style="left:0;"></span>
													<span class="button button-right" style="left:98px;"></span>
												</div>
											</div>
										</div>
										<div class="filter-stroke">
											<span class="filter-t">PR</span>
											<div class="filter-slider clearfix">
												<div class="controls clearfix">
													<label>от</label>
													<input type="text" value="" class="min" />
													<label>до</label>
													<input type="text" value="" class="max" />
												</div>
												<div class="slider">
													<span class="line"></span>
													<span class="line-active" style="width:93px;"></span>
													<span class="button button-left" style="left:0;"></span>
													<span class="button button-right" style="left:98px;"></span>
												</div>
											</div>
										</div>
										<div class="filter-stroke">
											<span class="filter-t">Кол-во проиндексированных страниц Google</span>
											<div class="filter-slider clearfix">
												<div class="controls clearfix">
													<label>от</label>
													<input type="text" value="" class="min" />
													<label>до</label>
													<input type="text" value="" class="max" />
												</div>
												<div class="slider">
													<span class="line"></span>
													<span class="line-active" style="width:93px;"></span>
													<span class="button button-left" style="left:0;"></span>
													<span class="button button-right" style="left:98px;"></span>
												</div>
											</div>
										</div>
										<div class="filter-stroke">
											<span class="filter-t">Кол-во проиндексированных страниц Яндекс</span>
											<div class="filter-slider clearfix">
												<div class="controls clearfix">
													<label>от</label>
													<input type="text" value="" class="min" />
													<label>до</label>
													<input type="text" value="" class="max" />
												</div>
												<div class="slider">
													<span class="line"></span>
													<span class="line-active" style="width:93px;"></span>
													<span class="button button-left" style="left:0;"></span>
													<span class="button button-right" style="left:98px;"></span>
												</div>
											</div>
										</div>
										<div class="filter-stroke">
											<span class="filter-t">Посещаемость</span>
											<div class="filter-slider clearfix">
												<div class="controls clearfix">
													<label>от</label>
													<input type="text" value="" class="min" />
													<span>человек в сутки</span>
												</div>
												<div class="slider">
													<span class="line"></span>
													<span class="line-active" style="width:93px;"></span>
													<span class="button button-left" style="left:0;"></span>
													<span class="button button-right" style="left:98px;"></span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="filter-company-buttons">
									<ul class="clearfix">
										<li><input type="submit" value="Подобрать" class="orange-button" /></li>
										<li class="text-button">или <a href="#">сбросить фильтр</a></li>
									</ul>
								</div>
							</fieldset>
						</form>
					</div>
					<a href="#" class="filter-company-close"><span>Скрыть фильтр</span> ↑</a>
				</section>
				<section class="table-box">
					<table class="table-money-history">
						<thead>
							<tr>
								<th>Тип</th>
								<th>Площадка</th>
								<th>тИЦ</th>
								<th>PR</th>
								<th>Чел./сут.</th>
								<th>В индексе <span class="y">Я</span>/<span class="g">G</span></th>
								<th>Цена, руб.</th>
								<th colspan="2">Дата создания</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Просто сайт</td>
								<td>
									<span class="title toverflow"><a href="#">ppalachh.livejournal.com</a></span>
									<span class="desc">Площадка 1, Площадка 2</span>
								</td>
								<td>1700</td>
								<td>1050</td>
								<td>2000</td>
								<td>2000<span class="gray">/</span>100</td>
								<td>18 565</td>
								<td>14 июня 2012, 11:00</td>
								<td><a href="#" class="ico-fav active"></a></td>
							</tr>
							<tr>
								<td>Блог</td>
								<td>
									<span class="title toverflow"><a href="#">ppalachh.livejournal.com</a></span>
									<span class="desc">Площадка 1, Площадка 2</span>
								</td>
								<td>15</td>
								<td>1050</td>
								<td>200</td>
								<td>2<span class="gray">/</span>10</td>
								<td>154</td>
								<td>14 июня 2012, 11:00</td>
								<td><a href="#" class="ico-fav"></a></td>
							</tr>
							<tr>
								<td>Просто сайт</td>
								<td>
									<span class="title toverflow"><a href="#">ppalachh.livejournal.com</a></span>
									<span class="desc">Площадка 1, Площадка 2</span>
								</td>
								<td>1700</td>
								<td>1050</td>
								<td>2000</td>
								<td>20<span class="gray">/</span>100</td>
								<td>18 565</td>
								<td>14 июня 2012, 11:00</td>
								<td><a href="#" class="ico-fav"></a></td>
							</tr>
						</tbody>
					</table>
				</section>
				<section class="paginator-box">
					<a href="#" class="paginator-navi back"><span>Предыдущая</span></a>
					<a href="#" class="paginator-navi next"><span>Следующая</span></a>
					<ul class="paginator">
						<li>Страница:</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li class="active"><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">7</a></li>
					</ul>
					<span class="paginator-options">На странице: <a href="#" class="paginator-view"><span>10 элементов</span></a> / <strong>152</strong></span>
				</section>
			</div>
		</div>
{% endblock %}
