{% extends 'beagent/base.html' %}
{% block title %}
    <title>ba-reklamodatel-spisok_kompani-novaja</title>
{% endblock %}
{% block content %}
			<div class="content fixsize clearfix">
				<nav class="breadcrumbs">
					<ul>
						<li><a href="#">Кабинет</a></li>
						<li><a href="#">Кампании</a></li>
					</ul>
				</nav>
				<h1>Добавление кампании</h1>
				<section class="form-box">
					<form action="#">
						<fieldset>
							<div class="form-box-i clearfix">
								<label for="as1">Название<span class="red">*</span></label>
								<div class="form-box-c">
									<input type="text" value="" id="as1" class="custom-input" />
									<span class="help">Например: продвижение “гаткого утёнка”</span>
								</div>
							</div>
							<div class="form-box-i clearfix">
								<label for="as2">Теги</label>
								<div class="form-box-c">
									<input type="text" value="" id="as2" class="custom-input" />
									<span class="help">3—5 тегов через запятую</span>
								</div>
							</div>
							<div class="form-box-i clearfix">
								<label for="as3">Макс. кол-во выполенных задач</label>
								<div class="form-box-c">
									<input type="text" value="" id="as3" class="custom-input small" />
								</div>
							</div>
							<div class="form-box-i clearfix">
								<label for="as4">Срок проведения</label>
								<div class="form-box-c">
									<input type="text" value="" id="as4" class="custom-input small" />
									<span class="text">дней</span>
								</div>
							</div>
							<div class="form-box-i clearfix">
								<label for="as5">Бюджет<span class="red">*</span></label>
								<div class="form-box-c">
									<input type="text" value="" id="as5" class="custom-input small" />
									<span class="text">руб.</span>
								</div>
							</div>
							<nav class="menu-l3">
								<ul class="clearfix">
									<li class="active"><a href="#">Ассистент</a></li>
									<li><a href="#">Форма для эксперта</a></li>
									<li><a href="#">Текстовое описание</a></li>
								</ul>
							</nav>
							<div class="form-box-i clearfix">
								<label>Преследуюмые цели</label>
								<div class="form-box-c">
									<ul class="list-checkbox">
										<li class="clearfix">
											<input type="checkbox" id="cl1" />
											<label for="cl1">Распространение информации</label>
										</li>
										<li class="clearfix">
											<input type="checkbox" id="cl2" />
											<label for="cl2">Реклама в социальных сетях</label>
										</li>
										<li class="clearfix">
											<input type="checkbox" id="cl3" />
											<label for="cl3">Управление мнениями</label>
										</li>
										<li class="clearfix">
											<input type="checkbox" id="cl4" />
											<label for="cl4">Продвижениев поисковых системах</label>
										</li>
										<li class="clearfix">
											<input type="checkbox" id="cl5" />
											<label for="cl5">Свободный тип</label>
										</li>
									</ul>
								</div>
							</div>
							<div class="add-task">
								<div class="add-task-h">
									<div class="form-box-i clearfix">
										<label>Тип работы</label>
										<div class="form-box-c">
											<select class="custom-select">
												<option>публикация в блоге</option>
											</select>
										</div>
									</div>
								</div>
								<div class="add-task-c">
									<div class="form-box-i clearfix">
										<label for="as11">Стоимость</label>
										<div class="form-box-c">
											<input type="text" value="" id="as11" class="custom-input small" />
											<span class="text">руб.</span>
										</div>
									</div>
									<div class="form-box-i clearfix">
										<label for="as12">Текст не менее</label>
										<div class="form-box-c">
											<input type="text" value="" id="as12" class="custom-input small" />
										</div>
									</div>
									<div class="form-box-i clearfix">
										<label for="as13">Теги</label>
										<div class="form-box-c">
											<input type="text" value="" id="as13" class="custom-input" />
											<span class="help">Ключевые слова которые должны быть в тексте через запятую</span>
										</div>
									</div>
									<div class="form-box-i clearfix">
										<label>Блоги</label>
										<div class="form-box-c">
											<ul class="list-checkbox">
												<li class="clearfix">
													<input type="checkbox" id="cl11" />
													<label for="cl11">Livejournal</label>
												</li>
												<li class="clearfix">
													<input type="checkbox" id="cl12" />
													<label for="cl12">LiveInternet</label>
												</li>
												<li class="clearfix">
													<input type="checkbox" id="cl13" />
													<label for="cl13">blog.mail.ru</label>
												</li>
												<li class="clearfix">
													<input type="checkbox" id="cl14" />
													<label for="cl14">другие блоги</label>
												</li>
											</ul>
										</div>
									</div>
									<div class="form-box-i clearfix">
										<label>Тональность</label>
										<div class="form-box-c">
											<select class="custom-select">
												<option></option>
											</select>
										</div>
									</div>
									<div class="form-box-i clearfix">
										<label for="as14">Необходимое кол-во выполнений</label>
										<div class="form-box-c">
											<input type="text" value="" id="as14" class="custom-input small" />
										</div>
									</div>
									<div class="form-box-i clearfix">
										<label for="as15">Ссылка на видео</label>
										<div class="form-box-c">
											<input type="text" value="http://" id="as15" class="custom-input" />
										</div>
									</div>
									<div class="form-box-i clearfix">
										<label for="as16">Ссылка на изображение</label>
										<div class="form-box-c">
											<input type="text" value="http://" id="as16" class="custom-input" />
										</div>
									</div>
									<div class="form-box-i clearfix">
										<label for="as17">Ссылка</label>
										<div class="form-box-c">
											<input type="text" value="http://" id="as17" class="custom-input" />
										</div>
									</div>
									<div class="form-box-i clearfix">
										<label></label>
										<div class="form-box-c">
											<input type="text" value="Текст ссылки" class="custom-input" />
										</div>
									</div>
								</div>
								<div class="add-task-b">
									<input type="submit" value="Добавить задание" class="gray-button" />
								</div>
							</div>
							<div class="form-box-b">
								<input type="submit" value="Создать кампанию" class="orange-button" />
							</div>
						</fieldset>
					</form>
				</section>
			</div>
		</div>
{% endblock %}
