{% extends 'beagent/base.html' %}
{% block title %}
    <title>ba-reklamodatel-agent</title>
{% endblock %}
{% block content %}
			<div class="content fixsize clearfix">
				<div class="left-col">
					<nav class="breadcrumbs">
						<ul>
							<li><a href="#">Кабинет</a></li>
							<li>Кампании</li>
						</ul>
					</nav>
					<h1>Илья Гордеев <span class="subheader">Дата рождения — 29 сентября 1979</span></h1>
					<section class="text-box">
						<p>Интерактивный рассказ — это возможность прочитать произведение так, как вы этого хотите. Рассказ имеет большую вариативность действий в той или иной ситуации и вы сами решаете как будут разворачиваться события в сюжете. В зависимости от вашего выбора и будет зависеть как далеко вы сможете "пройти" книгу.</p>
					</section>
					<section class="table-box">
						<h2>Активные площадки</h2>
						<table class="active-sites">
							<thead>
								<tr>
									<th>Площадка</th>
									<th>ТИЦ</th>
									<th>PR</th>
									<th>Чел./сут.</th>
									<th>В индексе <span class="ym">Я</span>/G</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<span class="title toverflow"><a href="#">ppalachhppalachhppalachhppalachh.livejournal.com</a></span>
										<span class="desc">Публикации — 150 руб, комментарий — 20 руб. Лайк в фейсбуке — 24 руб., перепост — 150 руб, комментарий — 20 руб.</span>
									</td>
									<td>1700</td>
									<td>1050</td>
									<td>2000</td>
									<td>2000<span class="gray">/</span>100</td>
									<td>
										<a href="#" class="delete"></a>
										<a href="#" class="favorites active"></a>
									</td>
								</tr>
								<tr>
									<td>
										<span class="title toverflow"><a href="#">ppalachh.livejournal.com</a></span>
										<span class="desc">Публикации — 150 руб, комментарий — 220 руб.</span>
									</td>
									<td>15</td>
									<td>1050</td>
									<td>200</td>
									<td>2<span class="gray">/</span>10</td>
									<td>
										<a href="#" class="delete"></a>
										<a href="#" class="favorites"></a>
									</td>
								</tr>
								<tr>
									<td>
										<span class="title toverflow"><a href="#">ppalachh.livejou2</a></span>
										<span class="desc">Публикации — 150 руб, комментарий — 20 руб. Лайк в фейсбуке — 24 руб., перепост — 150 руб, комментарий — 20 руб.</span>
									</td>
									<td>1700</td>
									<td>1050</td>
									<td>2000</td>
									<td>2000<span class="gray">/</span>100</td>
									<td>
										<a href="#" class="delete"></a>
										<a href="#" class="favorites"></a>
									</td>
								</tr>
							</tbody>
						</table>
					</section>
					<section class="opinions">
						<h2>Отзывы <span class="sup"><span class="green">+128</span> / <span class="red">−8</span></span></h2>
						<div class="opinions-i opinion-open">
							<div class="opinion-t">
								<p>Как поправишь, скажи мне пожалуйста ) Пытаюсь поймать эту ошибку. не получается. У меня пишет "Компания обязательно должна иметь название". Видимо проблема не в форме, а в языке. в смысле неправильно определился язык пользователя и поэтому не подгрузились нужные файлы перевода. прблема имеет системный характер. будем решать</p>
								<a href="#" class="opinion-toggle"></a>
							</div>
							<div class="opinion-user clearfix">
								<div class="opinion-avatar">
									<a href="#"><img src="content/avatar.jpg" alt="" /></a>
								</div>
								<div class="opinion-info">
									<span class="opinion-name"><a href="#">Иван Приходько</a> <span class="rating">5</span></span>
									<time class="opinion-date">7 декабря 2010, 16:50</time>
								</div>
							</div>
						</div>
						<div class="opinions-i opinion-hide">
							<div class="opinion-t">
								<p>Как поправишь, скажи мне пожалуйста ) Пытаюсь поймать эту ошибку не получаетсяяяяяяяяя. У меня пишет "Компания обязательно должна иметь название". Видимо проблема не в форме, а в языке. в смысле неправильно определился язык пользователя и поэтому не подгрузились нужные файлы перевода. прблема имеет системный характер. будем решать</p>
								<a href="#" class="opinion-toggle"></a>
							</div>
							<div class="opinion-user clearfix">
								<div class="opinion-avatar">
									<a href="#"><img src="content/avatar.jpg" alt="" /></a>
								</div>
								<div class="opinion-info">
									<span class="opinion-name"><a href="#">Иван Приходько Длинная фамилия</a> <span class="rating">5</span></span>
									<time class="opinion-date">7 декабря 2010, 16:50</time>
								</div>
							</div>
						</div>
						<div class="opinions-i opinion-notoggle">
							<div class="opinion-t">
								<p>Всё супер (раскрывать нечего)</p>
								<a href="#" class="opinion-toggle"></a>
							</div>
							<div class="opinion-user clearfix">
								<div class="opinion-avatar">
									<a href="#"><img src="content/avatar.jpg" alt="" /></a>
								</div>
								<div class="opinion-info">
									<span class="opinion-name"><a href="#">Иван Приходько</a> <span class="rating">5</span></span>
									<time class="opinion-date">7 декабря 2010, 16:50</time>
								</div>
							</div>
						</div>
					</section>
				</div>
				<aside class="right-col">
					<div class="userinfo">
						<div class="userinfo-avatar">
							<img src="content/photo.jpg" alt="" />
						</div>
						<ul class="userinfo-links">
							<li>
								<a href="#" class="complain-link">Пожаловаться</a>
								<div class="complain" style="display:none;">
									<form action="#">
										<fieldset>
											<textarea cols="1" rows="1"></textarea>
											<div class="complain-buttons clearfix">
												<button type="submit" class="btn-send">Отправить</button>
												<a href="#" class="btn-close">Отмена</a>
											</div>
										</fieldset>
									</form>
								</div>
							</li>
							<li><a href="#">В чёрный список</a></li>
						</ul>
						<p>На проекте: 3 месяца 12 дней</p>
						<p>Последнее посещение: 21 июня 19:59</p>
						<p class="rating">Рейтинг <span class="ico-rate">5</span></p>
						<p>Выполнил задач — 10</p>
					</div>
				</aside>
			</div>
		</div>
{% endblock %}