{% extends 'beagent/base.html' %}
{% block title %}
    <title>ba-reklamodatel-izbrannoe</title>
{% endblock %}
{% block content %}
			<div class="content fixsize clearfix">
				<nav class="breadcrumbs">
					<ul>
						<li><a href="#">Кабинет</a></li>
					</ul>
				</nav>
				<h1>Избранное</h1>
				<nav class="menu-l3">
					<ul class="clearfix">
						<li class="active"><a href="#">Агенты</a></li>
						<li><a href="#">Площадки</a></li>
					</ul>
				</nav>
				<section class="black-list clearfix">
					<div class="left-col">
						<div class="table-box">
							<table class="table-blacklist">
								<thead>
									<tr>
										<th>Дата добавления</th>
										<th>Агенты</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>14 июня 2012, 11:00</td>
										<td>
											<span class="title toverflow"><a href="#">Иван Иванович</a></span>
											<span class="rating-ico">5</span>
											<a href="#" class="delete"><span>Удалить</span></a>
										</td>
									</tr>
									<tr>
										<td>14 июня 2012, 11:00</td>
										<td>
											<span class="title toverflow"><a href="#">Никанор Иванович</a></span>
											<span class="rating-ico">5</span>
											<a href="#" class="delete"><span>Удалить</span></a>
										</td>
									</tr>
									<tr>
										<td>14 июня 2012, 11:00</td>
										<td>
											<span class="title toverflow"><a href="#">Иван Иванович</a></span>
											<span class="rating-ico">5</span>
											<a href="#" class="delete"><span>Удалить</span></a>
										</td>
									</tr>
									<tr>
										<td>14 июня 2012, 11:00</td>
										<td>
											<span class="title toverflow"><a href="#">Никанор Иванович</a></span>
											<span class="rating-ico">5</span>
											<a href="#" class="delete"><span>Удалить</span></a>
										</td>
									</tr>
									<tr>
										<td>14 июня 2012, 11:00</td>
										<td>
											<span class="title toverflow"><a href="#">Иван Иванович</a></span>
											<span class="rating-ico">5</span>
											<a href="#" class="delete"><span>Удалить</span></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="right-col">
						<div class="search-list">
							<form action="#">
								<fieldset>
									<label>Поиск в списке</label>
									<input type="text" value="" class="custom-input custom-input-small" />
									<input type="submit" value="Найти" class="orange-button" />
								</fieldset>
							</form>
						</div>
					</div>
				</section>
				<section class="paginator-box">
					<a href="#" class="paginator-navi back"><span>Предыдущая</span></a>
					<a href="#" class="paginator-navi next"><span>Следующая</span></a>
					<ul class="paginator">
						<li>Страница:</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li class="active"><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">7</a></li>
					</ul>
					<span class="paginator-options">На странице: <a href="#" class="paginator-view"><span>10 элементов</span></a> / <strong>152</strong></span>
				</section>
			</div>
		</div>
{% endblock %}
