{% extends 'beagent/base.html' %}
{% block title %}
    <title>ba-reklamodatel-ploshadki-prosmotr</title>
{% endblock %}
{% block content %}
			<div class="content fixsize clearfix">
				<div class="left-col">
					<nav class="breadcrumbs">
						<ul>
							<li><a href="#">Кабинет</a></li>
							<li><a href="#">Площадки</a></li>
						</ul>
					</nav>
					<h1>ilyagordeev.ru <span class="subheader">Блог</span></h1>
					<h2>Параметры площадки</h2>
					<section class="params">
						<table>
							<tbody>
								<tr>
									<td>Страны или регионы</td>
									<td>Россия / Москва</td>
								</tr>
								<tr>
									<td>Стоимость публикации</td>
									<td>1500 руб.</td>
								</tr>
								<tr>
									<td>Стоимость комментария</td>
									<td>200 руб.</td>
								</tr>
								<tr>
									<td>Описание</td>
									<td>Интерактивный рассказ — это возможность прочитать произведение так, как вы этого хотите. Рассказ имеет большую вариативность действий в той или иной ситуации и вы сами решаете как будут разворачиваться события в сюжете. В зависимости от вашего выбора и будет зависеть как далеко вы сможете “пройти” книгу.</td>
								</tr>
								<tr>
									<td>Тематика</td>
									<td>авто</td>
								</tr>
								<tr>
									<td>Теги</td>
									<td>скачать с торрента фильмы, фильмы торрентом</td>
								</tr>
								<tr>
									<td>Дата создания</td>
									<td>15 марта 2012 г.</td>
								</tr>
							</tbody>
						</table>
					</section>
					<section class="request-box">
						<h2>Оформление заявки</h2>
						<div class="table-box">
							<table class="table-request">
								<thead>
									<tr>
										<th></th>
										<th>Площадка</th>
										<th>Вид публикации</th>
										<th>Ваша цена</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><input type="checkbox" class="inp-check" /></td>
										<td>
											<span class="toverflow">Заявка от всех площадок</span>
										</td>
										<td>
											<select class="custom-select">
												<option>постовой</option>
											</select>
										</td>
										<td>
											<input type="text" value="" class="custom-input" />
											<span class="help">руб.</span>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox" class="inp-check" /></td>
										<td>
											<a href="#" class="title toverflow">blog-about-me.livejournal.com</a>
											<span class="desc">Тематика</span>
										</td>
										<td>
											<select class="custom-select">
												<option>постовой (до 100 руб.)</option>
											</select>
										</td>
										<td>
											<input type="text" value="100" class="custom-input" />
											<span class="help">руб.</span>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox" class="inp-check" /></td>
										<td>
											<a href="#" class="title toverflow">soul-of-scream.livejournal.com</a>
											<span class="desc">Тематика</span>
										</td>
										<td>
											<select class="custom-select">
												<option>постовой (до 100 руб.)</option>
											</select>
										</td>
										<td>
											<input type="text" value="100" class="custom-input" />
											<span class="help">руб.</span>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox" class="inp-check" /></td>
										<td>
											<a href="#" class="title toverflow">mon-life.livejournal.com</a>
											<span class="desc">Тематика</span>
										</td>
										<td>
											<select class="custom-select">
												<option>постовой (до 100 руб.)</option>
											</select>
										</td>
										<td>
											<input type="text" value="100" class="custom-input" />
											<span class="help">руб.</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="request-box-b">
							<a href="#" class="orange-button">Отправить заявки</a>
						</div>
					</section>
				</div>
				<aside class="right-col">
					<div class="data">
						<h3>Показатели</h3>
						<ul>
							<li>тИЦ — 0</li>
							<li>PR — 0</li>
							<li>Посещаемость — 200 чел./сутки</li>
							<li>Кол-во страниц в Яндекс — 4580</li>
							<li>Кол-во страниц в Google — 4580</li>
						</ul>
						<ul>
							<li>Фоловеров в твиттере — 586</li>
							<li>Публикаций в твиттере — 6547</li>
						</ul>
						<p>Добавлена 9 мая 2011 года</p>
					</div>
				</aside>
			</div>
		</div>
{% endblock %}
