{% block change_password %}
<<nav class="menu-l3">
    <ul class="clearfix">
        <li id="pass_block"><a class='pointer' onclick="cclick('#pass-change-popup','#pass_block');">Сменить пароль</a></li>
        <li><a href="{% url 'beagent.views.common.edit_profile_blackLists' %}">Чёрный список</a></li>
        {% if user.type == 'advertiser' %}
            <li><a href="{% url 'beagent.views.common.edit_profile_whiteLists' %}">Белый список</a></li>
        {% endif %}
    </ul>
    <div class="popup pass-change-popup" id="pass-change-popup">
        <form id="changePassword">
            <fieldset>
                <div class="pass-change-i">
                    <label>Старый пароль</label>
                    <div class="pass-change-c">
                        <input type="text" value="" class="custom-input custom-input-small" name="old_password"/>
                    </div>
                </div>
                <div class="pass-change-i">
                    <label>Новый пароль</label>
                    <div class="pass-change-c">
                        <input type="text" value="" class="custom-input custom-input-small" name="new_password"/>
                    </div>
                </div>
                <div class="pass-change-i">
                    <label>Повторите новый пароль</label>
                    <div class="pass-change-c">
                        <input type="text" value="" class="custom-input custom-input-small" name="confirm_password"/>
                    </div>
                </div>
                <div class="popup-buttons clearfix">
                    {% csrf_token %}
                    <li><a class="popup-orange-btn pointer" onclick="form_send('#changePassword', '{% url 'beagent.views.common.change_password' %}', undefined, this)">Сохранить</a></li>
                    <li><a onclick="reset_form('#changePassword')" class="popup-link-btn pointer" >Отмена</a></li>
                </div>
            </fieldset>
        </form>
    </div>
</nav>
{% endblock %}